:root {
--strongCyan: #26baa4;
--lightBlue: #6173ff;
--darkGrayishBlue: #4c545d;
--grayishBlue: #9fabb2;
--weightBold: 600;
--weightRegular: 400;
--fontFamily: "Bai Jamjuree", sans-serif;
--fontSize: 18px;
--mainTransitionDuration: .3s;
}


/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--fontFamily);
    font-size: var(--fontSize);
}


/* components */

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 414px) {
    .container {
        width: 400px;
    }    
}

@media (min-width: 601px) {
    .container {
        width: 575px;
    }    
}

@media (min-width: 768px) {
    .container {
        width: 740px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 940px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1100px;
    }
}

@media (min-width: 1440px) {
    .container {
        width: 1260px;
    }
}


/* landing start */

.landing {
    padding-top: 120px;
    position: relative;
    padding-bottom: 140px;
    background-image: url(../images/bg-header-desktop.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.landing .container {
    text-align: center;
}

.landing h1 {
    font-weight: var(--weightBold);
    color: var(--darkGrayishBlue);
    font-size: 50px;
    margin: 50px 0 20px;
}

.landing p {
    margin: 0 auto 0;
    font-weight: var(--weightRegular);
    color: var(--grayishBlue);
    width: 728px;
    font-size: 21px;
}

.landing__buttons-box {
    display: flex;
    width: fit-content;
    margin: 60px auto 0;
    gap: 20px;
}

.button {
    padding: 18px 44px;
    border-radius: 100px;
    outline: none;
    border: none;
    color: white;
    font-size: 21px;
    font-weight: var(--weightBold);
    transition: var(--mainTransitionDuration);
    cursor: pointer;
}

.buttons-box__button:first-child {
    background-color: var(--strongCyan);
    box-shadow: 
    0 3px 1px 0 #2a8d7c,
    5px 15px 20px 0 rgba(49, 221, 195, 0.3);
}

.buttons-box__button:first-child:hover {
    background-color: #59cebb;
}

.buttons-box__button:last-child {
    background-color: var(--lightBlue);
    box-shadow: 
    0 3px 1px 0 #4c58af,
    5px 15px 20px 0 rgba(97, 115, 255, 0.3);
}

.buttons-box__button:last-child:hover {
    background-color: #8896ff;
}


/* landing end */

/* benefits start */

.benefits {
    padding-bottom: 140px;
    text-align: center;
    overflow: hidden;
}

.benefits > h2 {
    font-weight: var(--weightBold);
    color: var(--darkGrayishBlue);
    font-size: 45px;
    margin: 0 0 20px;
}

.benefits > p {
    margin: 0 auto 0;
    font-weight: var(--weightRegular);
    color: var(--grayishBlue);
    width: 728px;
    font-size: 21px;
}

.benefits > div {
    margin-top: 80px;
    gap: 60px;
    display: flex;
    align-items: center;
}

.benefits__image-box {
    width: 50%;
    position: relative;
    left: -4%;
}

.benefits__image-box img {
    width: 100%;
}

.benefits__text-box > div {
    text-align: start;
    margin-bottom: 50px;
    line-height: 1.6;
    max-width: 380px;
    color: var(--grayishBlue);
}

.benefits__text-box h3 {
    color: var(--darkGrayishBlue);
    font-weight: var(--weightBold);
    margin-bottom: 20px;
}


/* benefits end */

/* picture start */

.picture {
    padding-bottom: 140px;
    text-align: center;
}

.picture h2 {
    font-weight: var(--weightBold);
    color: var(--darkGrayishBlue);
    font-size: 45px;
    margin: 0 0 20px;
}

.picture p {
    margin: 0 auto 0;
    font-weight: var(--weightRegular);
    color: var(--grayishBlue);
    width: 728px;
    font-size: 21px;
}

.picture__image-box {
    margin: 100px auto 0;
    max-width: 900px;
}

.picture img {
    width: 100%;
}


/* picture end */

/* features start */

.features {
    padding-bottom: 140px;
    text-align: center;
}

.features .container > h2 {
    font-weight: var(--weightBold);
    color: var(--darkGrayishBlue);
    font-size: 45px;
    margin: 0 0 20px;
}

.features .container > p {
    margin: 0 auto 0;
    font-weight: var(--weightRegular);
    color: var(--grayishBlue);
    width: 728px;
    font-size: 21px;
}

.features .holder {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 30px;
    flex-flow: wrap;
    margin: 100px 0 0;
}


.features .text img {
    margin: 0 auto 30px;
    height: 40px;
}

.features .text h3 {
    color: var(--darkGrayishBlue);
    font-weight: var(--weightBold);
    margin-bottom: 20px;
}

.features .text p {
    line-height: 1.6;
    color: var(--grayishBlue);
    max-width: 370px;
}


/* features end */

/* companies start */

.companies {
    padding: 20px 0 140px;
}

.companies .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* companies end */

/* download start */

.download {
    padding-bottom: 140px;
    text-align: center;
}

.download h2 {
    font-weight: var(--weightBold);
    color: var(--darkGrayishBlue);
    font-size: 45px;
    margin: 0 0 20px;
}

.download p {
    margin: 0 auto 0;
    font-weight: var(--weightRegular);
    color: var(--grayishBlue);
    width: 728px;
    font-size: 21px;
}

.download__buttons-box {
    display: flex;
    width: fit-content;
    margin: 60px auto 0;
    gap: 20px;
}

.download__buttons-box button:first-child {
    background-color: var(--strongCyan);
    box-shadow: 
    0 3px 1px 0 #2a8d7c,
    5px 15px 20px 0 rgba(49, 221, 195, 0.3);
}

.download__buttons-box button:first-child:hover {
    background-color: #59cebb;
}

.download__buttons-box button:last-child {
    background-color: var(--lightBlue);
    box-shadow: 
    0 3px 1px 0 #4c58af,
    5px 15px 20px 0 rgba(97, 115, 255, 0.3);
}

.download__buttons-box button:last-child:hover {
    background-color: #8896ff;
}

/* download end*/